<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_login.css') }}?v_15">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='login.js') }}?v_8"></script>
</head>
<body>  
    <div class="login-page">
      <div class="form container">
          <input type="text" placeholder="username or email" id="username"/>
          <button class='btn btn-secondary btn-lg btn-block' onclick="login()">login</button>
      </div>
    </div>
</body>
</html>